* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    /* COLORS */
    --color-black: #121212;
    --color-darkblue: #19202D;
    --color-white: #fff;
    --color-grey-100:#E7EAEE;
    --color-grey-200:#CFCFCF;
    --color-grey-400:#676D7E;
    --color-grey-500:#48556A;
    --color-purple-50:#EDE4FF;
    --color-purple-300:#A775F1;
    --color-purple-500:#733FC8;

    /* SPACING */
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8;
}

